.pageContainer {
  /* border: 1px yellowgreen solid; */
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  max-height: 790px;
  max-width: 1220px;
}

.pageTitle {
  /* border: 1px yellowgreen dashed; */
  margin-top: 24px;
  margin-left: 30px;
  margin-right: 30px;
}

.projectsWrap {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.projects {
  /* border: 1px yellowgreen dashed; */
  margin-left: 30px;
  margin-right: 30px;
}

.projectsOverlay {
  position: absolute;
  inset: 0;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #FBFBFB;

  font: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;

  /* white-space: normal; */
  pointer-events: none;
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms ease;
}

.projectsOverlay button {
  pointer-events: none;
}

.projectsOverlayDone {
  opacity: 0;
}

.projectLink {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: left;
}

.projectLink:hover {
  text-decoration: underline;
}

.footer {
  /* border: 1px yellowgreen dashed; */
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 24px;
  display: flex;
  gap: 30px;
}

.footer > * {
  /* border: 1px indianred dashed; */
  flex: 1 1 0;
  min-width: 0;

  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.cr {
  /* border: 1px blueviolet dashed; */
  position: absolute;
  top: calc(100vh + 10px);
  left: 30px;
}

/* MODAL */
.modalOverlay {
  /* border: 2px yellowgreen solid; */
  height: 100vh;
  max-height: 790px;
  max-width: 1220px;

  position: fixed;
  inset: 0;
  background: rgb(255, 255, 255, 0);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  /* border: 1px yellowgreen dashed; */
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modalImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .modalContent {
    max-width: 100%;
    max-height: 100%;
  }
}