* {
  /* border: 1px yellowgreen solid; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

html,
body {
  border: none;
  background-color: #FBFBFB;
}

body {
  color: #000;
  font-family: Times;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.36px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}