.pageContainer {
  /* border: 1px yellowgreen solid; */
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  max-height: 790px;
  /* width: 1280px; */
}

.pageTitle {
  /* border: 1px yellowgreen dashed; */
  /* font-kerning: normal; */
  /* font-feature-settings: "kern" 1, "liga" 1; */
  /* letter-spacing: -0.02em; */
  /* text-rendering: optimizeLegibility; */

  margin-top: 22px;
  margin-left: 30px;
}

/* .requestDemoButton {
  position: absolute;
  width: 150px;
  height: 30px;
  top: 60px;
  left: 1110px;

  font-family: Times;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  border: 1px solid #DFDFDF;
  border-radius: 10px;
  background-color: #FFFFFFE5;
} */

.pitch {
  /* position: absolute; */
  /* top: 340px; */
  margin-left: 30px;
  margin-right: 30px;
  margin-top:  auto;
  margin-bottom: auto;
}

.footer {
  /* position: absolute; */
  margin-left: 25px;
  margin-left: 30px;
  padding-bottom: 22px;
  max-width: 1220px;
  width: calc(100% - 60px);
  display: flex;
  gap: 30px;
}

.footer > * {
  flex: 1 1 0;
  min-width: 0;

  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.cr {
  position: absolute;    /* or fixed, depending on your needs */
  top: calc(100vh + 10px);
  left: 30px;
}

@media (max-width: 768px) {
  .footer {
    /* padding-bottom: 0px; */
    hyphens: none;
  }
}
