.pageContainer {
  /* border: 1px yellowgreen solid; */
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  max-height: 790px;
  max-width: 1220px;
}

.pageTitle {
  /* border: 1px yellowgreen dashed; */
  margin-top: 24px;
  margin-left: 30px;
  margin-right: 30px;
}

.pitch {
  /* border: 1px yellowgreen dashed; */
  margin-left: 30px;
  margin-right: 30px;
  margin-top:  auto;
  margin-bottom: auto;
}

.footer {
  /* border: 1px yellowgreen dashed; */
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 24px;
  display: flex;
  gap: 30px;
}

.footer > * {
  /* border: 1px indianred dashed; */
  flex: 1 1 0;
  min-width: 0;

  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

.cr {
  /* border: 1px blueviolet dashed; */
  position: absolute;
  top: calc(100vh + 10px);
  left: 30px;
}

@media (max-width: 768px) {
  .footer {
    hyphens: none;
  }
}
